In [5]:
import yfinance as yf
import math
import numpy as np
from datetime import datetime
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
ticker= "^GSPC"

now_time = datetime.now()
start_time = datetime(now_time.year - 8, now_time.month, now_time.day)

stock_data = yf.download(ticker, start=start_time, end=now_time)

[*********************100%***********************]  1 of 1 completed

In [8]:
stock_data.to_csv('C:\\Users\\kedar\\Desktop\\Projects\\CIVE 7100 Stock Market Time Series Project\\datasets\\s_and_p_500_index_data.csv')

In [13]:
indexes = {"Healthcare":"^SP500-35", "Communication Services":"^SP500-50", "Consumer Discretionary":"^SP500-25",
          "Consumer Staples":"^SP500-30", "Energy":"^SP500-1010", "Financials": "^SP500-40", "Industrials": "^SP500-20",
           "Materials":"^SP500-15","Utilities":"^SP500-55","Real Estate":"^SP500-60", "Information Technology":"^SP500-45"}
df = pd.DataFrame()

for key, value in indexes.items():
    stock_data = yf.download(value, start=start_time, end=now_time)
    stock_data['Sector'] = key
    df = pd.concat([df, stock_data])
df

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Sector
Date,,,,,,,
2014-04-09,659.969971,673.450012,659.969971,673.270020,673.270020,0,Healthcare
2014-04-10,672.580017,673.520020,649.820007,651.719971,651.719971,0,Healthcare
2014-04-11,648.530029,655.820007,644.549988,644.739990,644.739990,0,Healthcare
2014-04-14,647.760010,651.799988,641.059998,648.049988,648.049988,0,Healthcare
2014-04-15,649.200012,656.380005,641.409973,655.020020,655.020020,0,Healthcare
...,...,...,...,...,...,...,...
2022-04-04,2790.500000,2843.310059,2790.500000,2842.790039,2842.790039,478187200,Information Technology
2022-04-05,2842.790039,2842.790039,2772.729980,2780.500000,2780.500000,469095700,Information Technology
2022-04-06,2780.500000,2780.500000,2689.889893,2709.719971,2709.719971,604231000,Information Technology
2022-04-07,2709.719971,2735.280029,2679.250000,2716.000000,2716.000000,585014100,Information Technology
2022-04-08,2716.000000,2716.000000,2672.419922,2677.040039,2677.040039,482316400,Information Technology

In [14]:
df.to_csv('C:\\Users\\kedar\\Desktop\\Projects\\CIVE 7100 Stock Market Time Series Project\\datasets\\sector_index_data.csv')